  
body {
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}

.container{
    height: 100vh;
    width : 100vw;
    display: flex;
    flex-direction: row;
}

.music-container {
    height: 88vh;
    width: 83vw;
    background-color: #1b2323;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
}

.nav-container{
    height: 88vh;
    width : 17vw;
    background-color: black;
    display: flex;
    flex-direction: column;

}

.media-player{
    background: #1b2323;
    width : 100vw;
    height: 12vh;
    position: absolute;
    bottom: 0; 
    box-shadow: 10px 10px 8px 10px white;
}

.logo{
    height : 20vh;
    width: 17vw;
    margin-top: 3vh;
}

.home-nav,
.search-nav,
.your-library-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: grey;
    height: 12vh;
    width : 100%;

}


.material-icons{
   
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0.7rem;
        padding-right: 0.7rem;
        height: 100%;
  
}


.home-nav:hover,
.search-nav:hover,
.your-library-nav:hover{
    background-color: grey;
    color: black;
    box-shadow: 1px 1px 11px 0.6px white;
    cursor: pointer;
}

.music-category{
    width : 85vw;
    height : 15vh;
    margin: 20px;
    font-weight: bold;
    color: whitesmoke;
    font-size: large;
}

.col-home{
    display:inline-block !important;  
}



